<div class="vpn-redirector">
  <label for="vpnInput">需要转换的地址</label>
  <input type="text" id="vpnInput" placeholder="如 login.cqu.edu.cn:802/eportal" autocomplete="url">
  <button id="convertBtn" type="button">生成 Atrust VPN 地址</button>
</div>
<div id="resultArea" class="vpn-result" hidden>
    转换后的 Atrust VPN 地址：
    <br>
    <input type="text" id="vpnOutput" readonly aria-label="转换后的 Atrust VPN 地址">
    <br>
    <button id="jumpBtn" type="button">跳转</button>
    <button id="copyBtn" type="button">复制</button>
</div>
