<div class="choice-modal" id="choice-modal" hidden>
  <div class="choice-modal__backdrop" data-choice-modal-close></div>
  <div class="choice-modal__panel" role="dialog" aria-modal="true" aria-labelledby="choice-modal-title" tabindex="-1">
    <h2 id="choice-modal-title">选择访问方式</h2>
    <p class="choice-modal__description">请选择校内或校外访问。</p>
    <div class="choice-modal__actions"></div>
    <button class="choice-modal__close" type="button" data-choice-modal-close aria-label="关闭访问方式选择">取消</button>
  </div>
</div>
