<div class="footer-row">
  <div class="footer-block footer__about">
    <p>重庆大学 Linux 用户协会是由重庆大学在校的 GNU/Linux 爱好者发起并组成的团体，旨在联合重大的 GNU/Linux 使用者，搭建信息交流共享的平台，宣传自由软件的价值，提高自由软件社区文化氛围，推广自由软件的应用。</p>
  </div>
  <div class="footer-block footer__extras">
    <div class="footer__contact">
      <ul>
        <li><a href="/about/"><i class="fas fa-fw fa-address-card"></i> 关于我们</a></li>
        <li><a href="/wiki/lug/contact/"><i class="fas fa-fw fa-phone-alt"></i> 联系我们</a></li>
        <li><a href="/wiki/lug/contribute/"><i class="fas fa-fw fa-users"></i> 加入我们</a></li>
        <li><a href="/feed.xml"><i class="fas fa-fw fa-rss"></i> RSS 订阅</a></li>
        <li><a href="https://github.com/cqu-lug"><i class="fab fa-fw fa-github"></i> 本站仓库</a></li>
      </ul>
    </div>
    <div class="footer__logo">
      <div class="footer__logo-image">
        <i class="fas fa-circle" style="color: rgba(255,255,255,0.3); font-size: 0.8em;"></i>
      </div>
      <div class="footer__logo-text">
      </div>
    </div>
  </div>
</div>
