<div class="footer-row">
  <div class="footer-block footer__about">
    <p>LUG@CQU（Linux User Group at Chongqing University, 重庆大学 Linux 用户组）是由重庆大学自由/开源软件爱好者及 GNU/Linux 用户发起并建立的技术团体</p>
  </div>
  <div class="footer-block footer__extras">
    <div class="footer__contact">
      <ul>
        <li><a href="/about/"><i class="fas fa-fw fa-address-card"></i> 关于我们</a></li>
        <li><a href="/join/"><i class="fas fa-fw fa-users"></i> 加入我们</a></li>
        <li><a href="/feed.xml"><i class="fas fa-fw fa-rss"></i> RSS 订阅</a></li>
        <li><a href="https://github.com/cqu-lug"><i class="fab fa-fw fa-github"></i> 本站仓库</a></li>
      </ul>
    </div>
    <div class="footer__logo">
      <div class="footer__logo-image">
        <i class="fas fa-circle" style="color: rgba(255,255,255,0.3); font-size: 0.8em;"></i>
      </div>
      <div class="footer__logo-text">
      </div>
    </div>
  </div>

  {% include choice-modal.html %}
</div>
